@use "global" as *;

.animate-img {
  position: relative;
}
.animate-img .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $accent;
}
.animate-img img {
  display: block;
  width: 100%;
}

