@use "global" as *;

.aside-campaign {
}

.aside-campaign__title {
}

.aside-campaign__items {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.aside-campaign__item {
}
.aside-campaign__button {
  margin-top: rem(43);
  text-align: center;
}
