@use "global" as *;

.aside-voice {
}

.aside-voice__items {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(15);
  }
}

.aside-voice__item {
}

.aside-voice__age {
  margin-top: rem(16);
  font-size: rem(12);
  font-weight: 400;
}

.aside-voice__title {
  margin-top: rem(7);
  font-size: rem(24);
  font-weight: 500;
}

.aside-voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(45);
  }
}
