@use "global" as *;

.blog {
  @include mq(md) {
    position: relative;
  }
}

.blog::before {
  @include mq(md) {
    position: absolute;
    background-image: url(../images/common/blog-bg_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: rem(500);
    width: 100%;
    content: "";
    top: 0;
    left: 0;
  }
}

.blog::after {
  @include mq(md) {
    position: absolute;
    content: "";
    background: url(../images/common/blog-bg.png) no-repeat center center /
      cover;
    top: rem(25);
    left: calc(50% - min(48vw, rem(620)));
    max-width: rem(437);
    width: 100%;
    height: rem(201);
    z-index: 20;
  }
}

.blog__inner {
}

.blog__title {
}

.blog__items {
  margin-top: rem(33);
  @include mq(md) {
    margin-top: rem(85);
  }
}

.blog__button {
  margin-top: rem(44);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
