@use "global" as *;

.campaign {
  position: relative;
  overflow: hidden;

}

.campaign__inner {
  margin-right: calc(50% - 50vw);
}

.campaign__title {
}

.campaign__items {
  margin-top: rem(30);

  padding-bottom: rem(10);
  @include mq(md) {
    margin-top: rem(47);

    padding-bottom: rem(10);
  }
}

.campaign__items.swiper {
  margin-right: calc(50% - 50vw);
  padding-bottom: rem(5);
  @include mq(md) {
  }
}

.campaign__button {
  text-align: center;
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(74);
  }
}
