@use "global" as *;

.gallery {
  @include mq(md) {
    position: relative;
  }
}

.gallery::before {
  @include mq(md) {
    position: absolute;
    content: "";
    background: url(../images/common/lower-bg.png) no-repeat center center /
      cover;
    z-index: -10;
    width: 100%;
    top: rem(-80);
    right: calc(50% - min(48vw, rem(640)));
    max-width: rem(301);
    height: rem(138);
    transform: scale(-1, 1);
  }
}

.gallery__inner {
}

.gallery__container {
  margin-top: rem(43);
}

.gallery__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(8);
  @include mq(md) {
    grid-template-columns: 1fr 0.16fr 1fr;
    grid-auto-flow: dense;
  }
}

.gallery__item {
  cursor: pointer;
  aspect-ratio: 345 / 219;
  grid-row: span 1;
  grid-column: span 2;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 580 / 369;
  }
}

.gallery__item:nth-child(6n + 1) {
  aspect-ratio: 345 / 523;
  overflow: hidden;
  @include mq(md) {
    aspect-ratio: 492 / 746;
    grid-row: span 2;
    grid-column: 1;
  }
}

.gallery__item:nth-child(6n) {
  aspect-ratio: 345 / 523;
  overflow: hidden;
  @include mq(md) {
    aspect-ratio: 492 / 746;
    grid-row: span 2;
    grid-column: span 1;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.gallery__modal {
  background: rgba(32, 32, 32, 0.8);
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  max-width: 100vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.gallery__modal.active {
  opacity: 1;
  visibility: visible;
  display: block;
}

.gallery__modal img {
  height: 80%;
  left: 50%;
  object-fit: contain;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 100%;
  @include mq(md) {
    aspect-ratio: 920/586;
    width: 90%;
    top: 58%;
  }
}
