@use "global" as *;

.page-contact {
}

.page-contact__inner {
    max-width: rem(600);
    width: 100%;
    @include mq(md) {
      max-width: rem(750);
    }
}



.page-contact__error {
  color: #c94800;
  display: none;
  font-size: 0.875rem;
  margin-bottom: 2.375rem;
  text-align: center;
}
