@use "global" as *;

.page-thanks {
}

.page-contact-layout {
}

.page-thanks__inner {
}

.page-thanks__body {
  text-align: center;
}

.page-thanks__title {
  font-size: rem(16);
  font-weight: $normal;
}

.page-thanks__text {
  margin-top: rem(35);
  font-size: rem(16);
  font-weight: $normal;

}
