@use "global" as *;

.page-faq {
}

.page-faq-layout {
}

.page-faq__inner {
  @include mq(md) {
    max-width: rem(750);
    width: 100%;
  }

}

.page-faq__items {
  @include mq(md) {
    max-width: rem(700);
    width: 100%;
    margin: 0 auto;
  }
}

.page-faq__item {
}
.page-faq__item:not(:first-child) {
  margin-top: rem(40);
}
