@use "global" as *;

.price {
  background: $bg-color;
  @include mq(md) {
      position: relative;
  }
}

.price::after {
  @include mq(md) {
    position: absolute;
    content: "";
    background: url(../images/common/price-bg.png) no-repeat center center /
      cover;
    bottom:rem(60);
    left: calc(50% - min(48vw, rem(622)));
    max-width: rem(437);
    width: 100%;
    height: rem(201);
    z-index: 20;
  }
}

.price__inner {

}

.price__sp-img {
  margin-top: rem(34);
  width: 100%;
  aspect-ratio: 345 / 227;
  overflow: hidden;
}

.price__sp-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__container {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(48);
    display: flex;
    align-items: flex-start;
    gap: rem(93);
  }
}

.price__contents {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    max-width: rem(492);
    width: 100%;
  gap: rem(30);
  }
}

.price__content {
  display: flex;
  flex-direction: column;
}

.price__pc-img {
  max-width: rem(492);
  width: 100%;
  aspect-ratio:  492 / 746;
  overflow: hidden;
}

.price__pc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__button {
  margin-top: rem(37);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
