@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: rem(12);
  .pages {
    display: none;
  }
}

.wp-pagenavi--single {
  gap: rem(24);
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  background-color: $white;
  color: $accent;
  font-weight: $bold;
  font-family: $third-font-family;
  font-size: rem(16);
  border: 1px solid $accent;
  transition: 0.3s ease;
}

.wp-pagenavi a.u-desktop {
  display: none;
  @include mq(md) {
    display: inline-flex;
  }
}

.wp-pagenavi a:hover {
  background-color: $accent;
  color: $white;
  opacity: 1;
}
.wp-pagenavi span.current {
  background-color: $accent;
  color: $white;
}

.nextpostslink,
.previouspostslink {
  position: relative;
}

a.nextpostslink,
a.previouspostslink {
  font-size: 0;
}

.nextpostslink {
  margin-left: rem(28);
}
.previouspostslink {
  margin-right: rem(28);
}
.nextpostslink::before,
.previouspostslink::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
  width: rem(12);
  height: rem(12);
  border-top: 1px solid $accent;
  border-right: 1px solid $accent;
}

.nextpostslink:hover::before,
.previouspostslink:hover::before {
  border-top: 1px solid $white;
  border-right: 1px solid $white;
}
.nextpostslink::before {
  left: 7px;
  transform: rotate(45deg);
}

.previouspostslink::before {
  right: 9px;
  transform: rotate(-135deg);
}
